* {
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    font-family: 'Acme', sans-serif;
}

.p1-header-image {
    background: linear-gradient(rgb(13, 86, 129), #070766b4, rgba(31, 57, 209, 0.76)), url("/img/paisaje-violet.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 20em;
}


.main-alfabeto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5rem;
}

td {
    padding: 0.15rem;
}

.originalContents {
    display: flex;
    align-items: center;
}

.originalContents p {
    margin-right: 30px;
}

#textoArchivo {
    margin-right: 30px;
}

.convertedContent {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.convertedContent p {
    margin-right: 30px;
}

.convertedContent button {
    margin-left: 30px;
}

.p1-title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1-title-content {
    display: flex;
}

.main-content {
    display: flex;
    justify-content: center;
}

.backPage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.8em;
    margin-bottom: 3em;
}

.footer {
    height: 7em;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-content_copy {
    color: white;
}

.footer-name {
    color: white;
}

.footer-img {
    width: 100px;
    margin: 0;
    padding: 0;
}
